.topbar{
    padding: 5px;
    display: flex;
    justify-content: space-between; /* horizontal*/
    align-items: center; /* vertical*/
    background-color: rgb(53, 77, 197); 
    color: rgb(68, 161, 215);
    outline: 2px solid#d3d3d3; 
    font-family: "Inter";
    font-size: medium;
    font-weight: bold;
}

.rightSideNav{
    align-items: center;
    display: flex;
}

.rightSideNav a {
    text-decoration: none;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color:blanchedalmond;
}
.leftSideLogo{
    align-items: left;
    display: flex;
}


.topbar a:visited{
    color: rgb(68, 161, 215);
}

.fishlogo{
    width:25%;
    height:auto;
}